[Unit]
Description=Nextcloud Systemd user imp instead of autostart

[Service]
Type=simple
ExecStart=echo hello
#ExecStart=/usr/bin/nextcloud --background
ExecStop=/usr/bin/pkill -f nextcloud
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
