# https://github.com/hrehfeld/udiskie-systemd

[Unit]
Description=Handle automounting of usb devices


[Service]
Type=simple
ExecStart=/usr/bin/udiskie
ExecStop=/usr/bin/pkill -f udiskie
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
